* {
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    background-color: hsl(30, 38%, 92%);
    font-size: .875rem;
    min-height: 100vh;
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 25%);
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
picture {
    display: block;
    height: auto;
}
img {
    max-height: 60vh;
    max-width: 100%;
}
.content {
    padding: 1.5em;
}
p:has(+ h1) {
    letter-spacing: .8em;
    font-variant: all-small-caps;
}
h1 {
    font-family: Fraunces;
    color: hsl(0, 0%, 0%);
}
h1 + p {
    line-height: 1.5;
}
strong {
    font-size: 3rem;
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
}
span {
    text-decoration: line-through;
    vertical-align: 75%;
    margin-left: 1em;
}
button {
    background: url(/images/icon-cart.svg) no-repeat left;
    font-weight: 600;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    padding: 1em;
    border-radius: 10px;
    border: 0;
    width: 100%;
    background-position: 25%;
}
